.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }
#box{
	margin:auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}