
.title{
	width:150px;
}
.author{
	width:100px;
}
.publisher{
	width:100px;
}
.genre{
	width:70px;
}
.situation{
	width:70px;
}
.borrow{
	width:70px;
}
.return{
	width:100px;
}
table td {
	align:center;
	/* 内部余白 */
	padding: 6px;
	/* 枠線 */
	border: 1px solid #999;
	/* 背景色 */
	/* background-color:rgba(242,245,245,0.8); */
}
