body {
    width: auto 0;
	min-width:900px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}
header {
    height: 150px;
    border-bottom: 1px solid #000000;
}
div {
    display: flex;
    flex: 1;
}
main {
    flex: 1;
}
nav {
    width: 150px;
    border-right: 1px solid #000000;
}
#Title,#Auther,#Publisher{
	font-size:1.5vh;
}
#pageButtonNext{
	float:right;
}
#pageButtonBack{
	float:left;
}
#userInput{
	clear:both;
}
#booksData{
	width:100%;
}
table {
	display:block;

	border-collapse: collapse;
	border-right: 1px solid #999;
	text-align:center;
}

table th {
	align:center;
	/* 内部余白 */
	padding: 10px;
	/* 枠線 */
	border-top: 1px solid #fff;
	/* 文字色 */
	color: #fff;
	/* 文字表示 */
	text-align: center;
	vertical-align: top;
	/* 背景色 */
	background-color: #555;
	font-size:calc(7px + .5vw);


}

table td {
	align:center;
	/* 内部余白 */
	padding: 6px;
	/* 枠線 */
	border: 1px solid #999;
	/* 背景色 */
	/* background-color:rgba(242,245,245,0.8); */
}

/*フッター*/
/*
footer {
    border-top: 1px solid #000000;
    height: 300px;
}
*/

/*レスポンシブ対応*/
@media screen and (max-width: 900px) {
    body,
    nav {
        width: 100%;
    }
    nav {
        border-bottom: 1px solid #000000;
    }
    div {
        flex-direction: column;
    }
}
