html{

}
body {
    width: 900px;
	min-width:1400px;
    margin: 0 auto;
	min-height:100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
overflow-y:hidden;
}
.books {
  display: flex;
}
nav{
	min-height: 15vh;
}
nav div{
    height:100%;
}
.userInformation{
	width: 20%;
}
.input-group{
	margin:0 100px;
}
.input-group
#nav {
    width: 250px;
    border-right: 1px solid #000000;
    min-height: 100vh;
}

.findButton{
	margin:0px;
}
#searchButton{
	width:15vw;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.navButton{
	width:100%;
}@CHARSET "UTF-8";
